//
//	Add your custom code to this file
//
//	This file requires SASS compiler.
//	You can find instructions here: http://www.artodia.com/phpbb-31-tutorials/compile-theme/
//

// Custom time above breadcrumbs (on right)
.curr_time {
	float: right;
	text-align: right;
	margin-right: 10px;
	position: relative;
	top: -8px;
}

// Fix issue where text appears behind navbar header icons (Chrome)
.rmRainmeterDevTeam-HeaderFix {
	font-size: 0px !important;
}

// Fix issue where some table cells are inproperly vertically aligned (mainly on viewonline.php)
table.table1 .info {
	vertical-align: top;
}
